</div>

<footer class="wrap-foot">
           <p class="wrap-foot-ct-1">
               All rights reserved &#169;
               <span class="current-year"></span>
           </p>
           <p class="wrap-foot-ct-2">created by Shray Anand</p>
</footer>
<script src="/js/index.js"></script>
</body>
</html>