<%- include("partials/header"); -%>
<h1>ABOUT</h1>
<div class="float row" style="width: 100%;">
    <div class="about-content-img col-md"><img class="portrait" src="img/shray.png"/></div>
    <div class="about-content col-md">
           This site is created by Shray Anand . 
           A student pursuing Computer science at 
           <a href="https://jcboseustymca.co.in/">J.C.Bose UST,YMCA Faridabad</a>.
           this site take weather data from  <a href="https://weatherstack.com/">weather stack</a>
            api and 
            <a href="https://www.mapbox.com/">map box</a> api.it is created using
       <div class="row">
           <ul class="details">
               <li class="li-1"><i class="fab i11 fa-html5"></i>  HTML</li>
               <li class="li-2"><i class="fab i2 fa-css3-alt"></i>  CSS</li>
               <li class="li-3"><i class="fab i3 fa-js-square"></i>  Vanilla javascript</li>
               <li class="li-4"><i class="fab i4 fa-node-js"></i>  Node JS</li>
          </ul>
       </div>
            
       </div>
   
</div>

<%- include("partials/footer"); -%>