<%- include("partials/header"); -%>
<div class="options">
    <div type="button" onclick="choose_rn()" class="rn-label"><p class="label-p">Number</p></div>
    <div type="button" onclick="choose_arr()" class="arr-label"><p class="label-p">Array</p></div>
    <div type="button" onclick="choose_t()"  class="t-label"><p class="label-p">Tree</p></div>
    <div type="button" onclick="choose_g()"  class="g-label"><p class="label-p">Graph</p></div>
    <div class="randomNumber">
        <div class="rn-content">
            <form class="rn-form" method="POST" action="/">
                    <div class="row">
                        <div class="col-md col1">
                            <p>no. of testcase</p>
                            <input type="number" name="testcase" class="range"  required placeholder= "enter size of string"/>
                        </div>
                        <div class="col-md col2">
                                <p>include testcase flag</p>
                               <span> <input type="checkbox" name="testcaseFlag" class="checkbox"/></span>
                        </div>
                    </div>
                    
                <p>Number/Character/String</p>
                <select name="noCharOption" required onChange="whichOptionSelectedRN(this.selectedIndex)" id ="#symbol">
                    <option value="1">number</option>
                    <option value="2">character</option>
                    <option value="3">string</option>
                </select>
                <p>size of string</p>
                <input type="number" name="sizeOfstring" class="range" disabled="true" required placeholder= "enter size of string"/>
               <p class="center">Range</p>
               <p>minimum no.</p>
                <input type="number" class="range" required name="minRange" placeholder="min number" />
                <p>maximum no.</p>
                <input type="number" class="range" required name="maxRange" placeholder="max number" />
                <button  class="rn-b" type="submit">generate</button>
            </form>
        </div>
    </div>
    <div class="array">
        <div class="arr-content">
           
        </div>
    </div>
    <div class="tree">
        <div class="t-content">
         
        </div>
    </div>
    <div class="graph">
        <div class="g-content">
           
        </div>
    </div>
</div>
<div class="lower-wrap">
    <div class="output-div">
        <textarea name="output" class="textArea"><%=restext%></textarea>
    </div>
    <div class="btns">
        <button class="copyBtn"><i class="fas i1 in fa-copy"></i> Copy</button>
        <button class="copyBtn-sm"><i class="fas in fa-copy"></i></button>
        <button class="downloadBtn"><i class="fas i1 in fa-download"></i>Download</button>   
        <button class="downloadBtn-sm"><i class="fas in fa-download"></i></button>  
    </div>
    
</div>

<%- include("partials/footer"); -%>